.DS_Store
blib/
.build/
_build/
cover_db/
inc/
Build
!Build/
Build.bat
.last_cover_stats
Makefile
Makefile.old
MANIFEST.bak
META.yml
MYMETA.yml
nytprof.out
pm_to_blib
_clustered
_clustered.bak.clstr
example_1.faa.tmp.filtered.fa
example_2.faa.tmp.filtered.fa
pan_genome.fa
query_1.fa.tmp.filtered.fa
query_2.fa.tmp.filtered.fa
query_3.fa.tmp.filtered.fa
accessory.header.embl
blast_identity_frequency.Rtab
core_accessory.header.embl
reannotated_groups_file
set_difference_common_set_reannotated
set_difference_unique_set_one_reannotated
set_difference_unique_set_two_reannotated
extras/